<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="stylesheet/style.css">
  <title>Add Plants</title>
</head>
<body>
  <h1>Add a New Plants!</h1>
  <form action="/plants" method="post">
    <label for="name">Name:</label>
    <input type="text" name="name" id="name" required>

    <label for="category">Category:</label>
    <input type="text" id="category" name="category">

    <label for="description">Description:</label>
    <textarea name="description" id="description"></textarea>

    <label for="website">Website:</label>
    <input type="url" id="website" name="website">

    <label for="location">Location:</label>
    <input type="text" id="location" name="location">

    <label for="isVerified">isVerified:</label>
    <input type="checkbox" id="isVerified" name="isVerified">

    <button type="submit">Add a Plant</button>
  </form>
  <a href="/plants/">Back to plants</a>
</body>
</html>